-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: traffic_system
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `apprehending_officers`
--

DROP TABLE IF EXISTS `apprehending_officers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `apprehending_officers` (
  `officer_id` int(11) NOT NULL AUTO_INCREMENT,
  `officer_name` varchar(255) NOT NULL,
  `badge_number` varchar(50) DEFAULT NULL,
  `position` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`officer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `apprehending_officers`
--

LOCK TABLES `apprehending_officers` WRITE;
/*!40000 ALTER TABLE `apprehending_officers` DISABLE KEYS */;
INSERT INTO `apprehending_officers` VALUES (1,'RICHMOND',NULL,'ENFORCER',1,'2025-11-17 10:19:12');
/*!40000 ALTER TABLE `apprehending_officers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_log`
--

DROP TABLE IF EXISTS `audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_log` (
  `audit_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(50) NOT NULL,
  `table_name` varchar(50) NOT NULL,
  `record_id` int(11) DEFAULT NULL,
  `old_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`old_values`)),
  `new_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`new_values`)),
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`audit_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_action` (`action`),
  KEY `idx_table` (`table_name`),
  KEY `idx_created` (`created_at`),
  CONSTRAINT `audit_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_log`
--

LOCK TABLES `audit_log` WRITE;
/*!40000 ALTER TABLE `audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `citation_vehicles`
--

DROP TABLE IF EXISTS `citation_vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `citation_vehicles` (
  `vehicle_id` int(11) NOT NULL AUTO_INCREMENT,
  `citation_id` int(11) NOT NULL,
  `vehicle_type` varchar(100) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`vehicle_id`),
  KEY `idx_citation` (`citation_id`),
  CONSTRAINT `citation_vehicles_ibfk_1` FOREIGN KEY (`citation_id`) REFERENCES `citations` (`citation_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `citation_vehicles`
--

LOCK TABLES `citation_vehicles` WRITE;
/*!40000 ALTER TABLE `citation_vehicles` DISABLE KEYS */;
INSERT INTO `citation_vehicles` VALUES (17,9,'Motorcycle','2025-11-18 15:26:38'),(18,10,'Motorcycle','2025-11-18 15:27:14');
/*!40000 ALTER TABLE `citation_vehicles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `citations`
--

DROP TABLE IF EXISTS `citations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `citations` (
  `citation_id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_number` varchar(50) NOT NULL,
  `driver_id` int(11) DEFAULT NULL,
  `last_name` varchar(100) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `middle_initial` varchar(10) DEFAULT NULL,
  `suffix` varchar(20) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `age` int(11) DEFAULT NULL,
  `zone` varchar(50) DEFAULT NULL,
  `barangay` varchar(100) NOT NULL,
  `municipality` varchar(100) NOT NULL DEFAULT 'Baggao',
  `province` varchar(100) NOT NULL DEFAULT 'Cagayan',
  `license_number` varchar(50) DEFAULT NULL,
  `license_type` varchar(50) DEFAULT NULL,
  `plate_mv_engine_chassis_no` varchar(100) NOT NULL,
  `vehicle_description` text DEFAULT NULL,
  `apprehension_datetime` datetime NOT NULL,
  `place_of_apprehension` varchar(255) NOT NULL,
  `apprehension_officer` varchar(255) NOT NULL,
  `remarks` text DEFAULT NULL,
  `status` enum('pending','paid','contested','dismissed','void') NOT NULL DEFAULT 'pending',
  `payment_date` datetime DEFAULT NULL,
  `total_fine` decimal(10,2) DEFAULT 0.00,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`citation_id`),
  UNIQUE KEY `ticket_number` (`ticket_number`),
  KEY `created_by` (`created_by`),
  KEY `idx_ticket` (`ticket_number`),
  KEY `idx_driver` (`driver_id`),
  KEY `idx_datetime` (`apprehension_datetime`),
  KEY `idx_status` (`status`),
  KEY `idx_created` (`created_at`),
  KEY `idx_date_status` (`apprehension_datetime`,`status`),
  CONSTRAINT `citations_ibfk_1` FOREIGN KEY (`driver_id`) REFERENCES `drivers` (`driver_id`) ON DELETE SET NULL,
  CONSTRAINT `citations_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `citations`
--

LOCK TABLES `citations` WRITE;
/*!40000 ALTER TABLE `citations` DISABLE KEYS */;
INSERT INTO `citations` VALUES (9,'06101',2,'ROSETE','RICHMOND','','','2025-11-18',NULL,'','Agaman Sur','Baggao','Cagayan','','nonProf','UYTR','YELLOW','2025-11-18 15:26:00','YTF','RICHMOND','','pending',NULL,1000.00,'2025-11-18 15:26:38','2025-11-18 15:26:38',NULL),(10,'06102',2,'ROSETE','RICHMOND','','',NULL,NULL,'','Agaman Sur','Baggao','Cagayan','','nonProf','UYTR','YELLOW','2025-11-18 15:27:00','YTF','RICHMOND','','dismissed',NULL,500.00,'2025-11-18 15:27:14','2025-11-18 15:30:52',NULL);
/*!40000 ALTER TABLE `citations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drivers`
--

DROP TABLE IF EXISTS `drivers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `drivers` (
  `driver_id` int(11) NOT NULL AUTO_INCREMENT,
  `last_name` varchar(100) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `middle_initial` varchar(10) DEFAULT NULL,
  `suffix` varchar(20) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `age` int(11) DEFAULT NULL,
  `zone` varchar(50) DEFAULT NULL,
  `barangay` varchar(100) NOT NULL,
  `municipality` varchar(100) NOT NULL DEFAULT 'Baggao',
  `province` varchar(100) NOT NULL DEFAULT 'Cagayan',
  `license_number` varchar(50) DEFAULT NULL,
  `license_type` varchar(50) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`driver_id`),
  UNIQUE KEY `license_number` (`license_number`),
  KEY `idx_license` (`license_number`),
  KEY `idx_name` (`last_name`,`first_name`),
  KEY `idx_barangay` (`barangay`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drivers`
--

LOCK TABLES `drivers` WRITE;
/*!40000 ALTER TABLE `drivers` DISABLE KEYS */;
INSERT INTO `drivers` VALUES (2,'ROSETE','RICHMOND','','',NULL,NULL,'','Agaman Sur','Baggao','Cagayan','','nonProf','2025-11-18 15:26:38','2025-11-18 15:27:14');
/*!40000 ALTER TABLE `drivers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `role` enum('user','admin','enforcer') NOT NULL DEFAULT 'user',
  `status` enum('active','inactive','suspended') NOT NULL DEFAULT 'active',
  `last_login` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_username` (`username`),
  KEY `idx_email` (`email`),
  KEY `idx_role` (`role`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2y$10$mmjBnDB0cU4krnO/uPuwF.Qs8Cja0Md.lHAcf2pGqFx3K0k/4nz8.','System Administrator','admin@traffic.gov','admin','active','2025-11-18 15:27:24','2025-11-17 13:23:47','2025-11-18 15:27:24',NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `violation_types`
--

DROP TABLE IF EXISTS `violation_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `violation_types` (
  `violation_type_id` int(11) NOT NULL AUTO_INCREMENT,
  `violation_type` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `fine_amount_1` decimal(10,2) NOT NULL DEFAULT 500.00,
  `fine_amount_2` decimal(10,2) NOT NULL DEFAULT 1000.00,
  `fine_amount_3` decimal(10,2) NOT NULL DEFAULT 1500.00,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`violation_type_id`),
  UNIQUE KEY `violation_type` (`violation_type`),
  KEY `idx_violation_type` (`violation_type`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `violation_types`
--

LOCK TABLES `violation_types` WRITE;
/*!40000 ALTER TABLE `violation_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `violation_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `violations`
--

DROP TABLE IF EXISTS `violations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `violations` (
  `violation_id` int(11) NOT NULL AUTO_INCREMENT,
  `citation_id` int(11) NOT NULL,
  `violation_type_id` int(11) NOT NULL,
  `offense_count` int(11) NOT NULL DEFAULT 1,
  `fine_amount` decimal(10,2) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`violation_id`),
  UNIQUE KEY `unique_citation_violation` (`citation_id`,`violation_type_id`),
  KEY `idx_citation` (`citation_id`),
  KEY `idx_violation_type` (`violation_type_id`),
  KEY `idx_offense_count` (`offense_count`),
  CONSTRAINT `violations_ibfk_1` FOREIGN KEY (`citation_id`) REFERENCES `citations` (`citation_id`) ON DELETE CASCADE,
  CONSTRAINT `violations_ibfk_2` FOREIGN KEY (`violation_type_id`) REFERENCES `violation_types` (`violation_type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `violations`
--

LOCK TABLES `violations` WRITE;
/*!40000 ALTER TABLE `violations` DISABLE KEYS */;
INSERT INTO `violations` VALUES (19,9,29,1,500.00,'2025-11-18 15:26:38'),(20,9,28,1,500.00,'2025-11-18 15:26:38'),(21,10,29,2,500.00,'2025-11-18 15:27:14');
/*!40000 ALTER TABLE `violations` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `before_violation_insert` BEFORE INSERT ON `violations` FOR EACH ROW BEGIN

    DECLARE fine DECIMAL(10,2);



    -- Get the appropriate fine based on offense count

    SELECT

        CASE

            WHEN NEW.offense_count = 1 THEN fine_amount_1

            WHEN NEW.offense_count = 2 THEN fine_amount_2

            ELSE fine_amount_3

        END INTO fine

    FROM violation_types

    WHERE violation_type_id = NEW.violation_type_id;



    -- Set the fine amount before insert (no UPDATE needed)

    SET NEW.fine_amount = fine;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_violation_insert_update_total` AFTER INSERT ON `violations` FOR EACH ROW BEGIN

    -- Update total fine on citation (different table, so this is OK)

    UPDATE citations

    SET total_fine = (SELECT COALESCE(SUM(fine_amount), 0) FROM violations WHERE citation_id = NEW.citation_id)

    WHERE citation_id = NEW.citation_id;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Temporary table structure for view `vw_citation_summary`
--

DROP TABLE IF EXISTS `vw_citation_summary`;
/*!50001 DROP VIEW IF EXISTS `vw_citation_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_citation_summary` AS SELECT
 1 AS `citation_id`,
  1 AS `ticket_number`,
  1 AS `driver_name`,
  1 AS `license_number`,
  1 AS `plate_mv_engine_chassis_no`,
  1 AS `apprehension_datetime`,
  1 AS `place_of_apprehension`,
  1 AS `status`,
  1 AS `total_fine`,
  1 AS `violation_count`,
  1 AS `created_at` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vw_driver_offenses`
--

DROP TABLE IF EXISTS `vw_driver_offenses`;
/*!50001 DROP VIEW IF EXISTS `vw_driver_offenses`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vw_driver_offenses` AS SELECT
 1 AS `driver_id`,
  1 AS `driver_name`,
  1 AS `license_number`,
  1 AS `total_citations`,
  1 AS `total_violations`,
  1 AS `total_fines` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_citation_summary`
--

/*!50001 DROP VIEW IF EXISTS `vw_citation_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_citation_summary` AS select `c`.`citation_id` AS `citation_id`,`c`.`ticket_number` AS `ticket_number`,concat(`c`.`last_name`,', ',`c`.`first_name`,' ',coalesce(`c`.`middle_initial`,'')) AS `driver_name`,`c`.`license_number` AS `license_number`,`c`.`plate_mv_engine_chassis_no` AS `plate_mv_engine_chassis_no`,`c`.`apprehension_datetime` AS `apprehension_datetime`,`c`.`place_of_apprehension` AS `place_of_apprehension`,`c`.`status` AS `status`,`c`.`total_fine` AS `total_fine`,count(`v`.`violation_id`) AS `violation_count`,`c`.`created_at` AS `created_at` from (`citations` `c` left join `violations` `v` on(`c`.`citation_id` = `v`.`citation_id`)) group by `c`.`citation_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_driver_offenses`
--

/*!50001 DROP VIEW IF EXISTS `vw_driver_offenses`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_driver_offenses` AS select `d`.`driver_id` AS `driver_id`,concat(`d`.`last_name`,', ',`d`.`first_name`) AS `driver_name`,`d`.`license_number` AS `license_number`,count(distinct `c`.`citation_id`) AS `total_citations`,count(`v`.`violation_id`) AS `total_violations`,sum(`c`.`total_fine`) AS `total_fines` from ((`drivers` `d` left join `citations` `c` on(`d`.`driver_id` = `c`.`driver_id`)) left join `violations` `v` on(`c`.`citation_id` = `v`.`citation_id`)) group by `d`.`driver_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-18 16:01:39
